/* Basic styling */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
}

nav {
  background: #92bbda;
  padding: 5px 10px;
  min-width: 100%;
}

ul {
  list-style-type: none;
}

 

a:link, a:visited, a:active {
  text-decoration: none !important;
  color: inherit;
}

.item a:hover{
  color: rgb(63, 19, 167);
}


nav a.active{
  color:  rgb(63, 19, 167);
}


.menu_novo li {
  font-size: 16px;
  padding: 15px 5px;
  white-space: nowrap;
}



.menu_novo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.toggle {
  order: 1;
}

.item.button {
  order: 2;
}

.item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}

.item.visible {
  display: block;
  color: #fff;
}

.item.active {
  color: rgb(63, 19, 167);
}

/* Navbar Toggle */

.toggle {
  cursor: pointer;
}

.bars {
  background: #fff;
  display: inline-block;
  height: 2px;
  position: relative;
  transition: all .2s ease-out;
  width: 18px;
}

.bars:before, .bars:after {
  background: #fff;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.bars:before {
  top: 5px;
}

.bars:after {
  top: -5px;
}

/* Tablet menu */

@media all and (min-width: 468px) {
  .menu_novo {
    justify-content: center;
  }
 
  .item.button {
    width: auto;
    order: 1;
    display: block;
  }
  .toggle {
    order: 2;
  }
  .button.secondary {
    border: 0;
  }
  .button a {
    padding: 7.5px 15px;
    background: teal;
    border: 1px #006d6d solid;
    border-radius: 50em;
  }
  .button.secondary a {
    background: transparent;
  }
  .button a:hover {
    text-decoration: none;
    transition: all .25s;
  }
  .button:not(.secondary) a:hover {
    background: #006d6d;
    border-color: #005959;
  }
  .button.secondary a:hover {
    color: #ddd;
  }
}

/* Desktop menu */

@media all and (min-width: 768px) {
  .nav ul.center {
    display: block;
    width: auto;
    list-style: none;
    color: #fff;
  }
  .item {
    display: block;
    width: auto;
    color: #fff;
  }
  .item.visible {
    color: black;
    text-decoration: none;
  }
  .toggle {
    display: none;
  }
  
 
  .item {
    order: 1;
  }
  .button {
    order: 2;
  }
  .menu_novo li {
    padding: 15px 10px;
    border-right: 1px #fff solid;
    list-style-type: none;
  }
  .menu_novo li.button {
    padding-right: 0;
  }
}